@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: fallback;
  src: local(''),
    url('../fonts/roboto-v20-latin_cyrillic-regular.woff2') format('woff2'),
    url('../fonts/roboto-v20-latin_cyrillic-regular.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-display: fallback;
  src: local(''),
    url('../fonts/roboto-v20-latin_cyrillic-500.woff2') format('woff2'),
    url('../fonts/roboto-v20-latin_cyrillic-500.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: fallback;
  src: local(''),
    url('../fonts/roboto-v20-latin_cyrillic-700.woff2') format('woff2'),
    url('../fonts/roboto-v20-latin_cyrillic-700.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-display: fallback;
  src: local(''),
    url('../fonts/roboto-v20-latin_cyrillic-900.woff2') format('woff2'),
    url('../fonts/roboto-v20-latin_cyrillic-900.woff') format('woff');
}

$primary-color: #ff2f96;
$secondary-color: #ff8f5a;

$font: Roboto,
-apple-system,
BlinkMacSystemFont,
'Segoe UI',
Oxygen,
Ubuntu,
Cantarell,
'Fira Sans',
'Droid Sans',
'Helvetica Neue',
sans-serif;

@mixin flex($jcc: start, $ai: normal, $fld: row) {
  display: flex;
  justify-content: $jcc;
  align-items: $ai;
  flex-direction: $fld;
}

html {
  box-sizing: border-box;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

body {
  overflow-x: hidden;
  font-family: $font;
  background-color: #fff;
}

.stop-scroll {
  height: 100%;
  overflow: hidden;
}

.modal-window {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(137, 147, 173, .5);
  z-index: 20000;

  &--active {
    display: block;
  }

  &__form {
    position: relative;
    @include flex(space-around, normal, column);
    width: 370px;
    min-height: 370px;
    padding: 30px;
    margin: 100px auto;
    border: 2px solid #ff4e2e;
    border-radius: 2%;
    text-align: center;
    line-height: 30px;
    background-color: #fff;
    z-index: 5000;
  }

  @media screen and (max-width: 450px) {
    &__form {
      width: auto;
      padding: 10px;
    }
  }

  &__form--active {
    display: block;
  }

  &__close-btn {
    position: absolute;
    @include flex(center, center, row);
    top: 5px;
    right: 5px;
    width: 35px;
    height: 35px;
    padding: 9px;
    border: 1px solid #8993ad;
    border-radius: 50%;
    outline: none;
    background-color: #fff;
    opacity: .5;
  }

  &__close-btn:hover {
    background-color: #ebebeb;
  }

  &__text {
    margin-bottom: 10px;
    text-align: center;
  }

  &__input {
    display: block;
    margin: 0 auto;
    width: 271px;
    height: 40px;
    padding: 5px;
    border: none;
    outline: none;
    font-family: inherit;
    background-color: #ebebeb;
  }

  &__submit-btn {
    height: 40px;
    border: none;
    margin: 0 auto;
    font-family: inherit;
  }

  &__form-success {
    position: relative;
    display: none;
    width: 370px;
    min-height: 200px;
    padding: 60px;
    margin: 200px auto;
    border: 2px solid #ff4e2e;
    border-radius: 2%;
    background-color: #fff;
    z-index: 6000;
  }

  @media screen and (max-width: 450px) {
    &__form-success {
      width: auto;
      margin: 100px auto;
    }
  }

  &__form-success--active {
    display: block;
  }

  &__form-success-text {
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    color: #8993ad;
  }
}

.scroll-up-btn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 90px;
  height: 90px;
  border: 1px solid #8993ad;
  border-radius: 50%;
  background-color: #fff;
  opacity: .6;
  visibility: hidden;
  z-index: 1000;
  cursor: pointer;
  transform: translateY(25px);
  transition: .3s;

  @media screen and (max-width: 580px) {
    & {
      display: none;
    }
  }

  &:hover {
    background-color: #ebebeb;
  }

  &--active {
    visibility: visible;
    transform: translateY(0);
  }

  &-first-line {
    position: absolute;
    top: 40px;
    left: 15px;
    width: 40px;
    height: 5px;
    border-radius: 15%;
    background-color: #8993ad;
    transform: rotate(300deg);
  }

  &-second-line {
    position: absolute;
    top: 40px;
    right: 15px;
    width: 40px;
    height: 5px;
    border-radius: 15%;
    background-color: #8993ad;
    transform: rotate(60deg);
  }
}

.button-primary {
  @include flex(center, center, row);
  width: 271px;
  min-height: 61px;
  padding: 20px;
  border: none;
  font-family: inherit;
  font-size: 18px;
  color: #fff;
  background-color: #ff4e2e;

  &:hover {
    outline: 1px solid #ff4e2e;
    color: #ff4e2e;
    background-color: #fff;
    transition: .1s;
  }

  &:active {
    color: #fff;
    background-color: #ff4e2e;
  }
}

.button-secondary {
  display: block;
  padding: 10px;
  width: 208px;
  min-height: 46px;
  outline: none;
  border: 1px solid #f82370;
  font-family: inherit;
  font-size: 16px;
  color: #f82370;
  background-color: #fff;

  &:hover {
    color: #fff;
    background-color: #f82370;
    transition: .1s;
  }

  &:active {
    background-color: #f75678;
  }
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.header {
  position: relative;
  background-color: #fbfbfb;

  @media screen and (max-width: 1024px) {
    & {
      padding-bottom: 229px;
    }
  }

  @media screen and (min-width: 321px) and (max-width: 900px) {
    & {
      padding-bottom: 50px;
    }
  }

  @media screen and (max-width: 645px) {
    & {
      padding-bottom: 0;
    }
  }

  @media screen and (min-width: 1025px) and (max-width: 1250px) {
    &__container {
      padding-right: 40px;
      padding-left: 40px;
    }
  }

  @media screen and (max-width: 1024px) {
    &__container {
      width: auto;
    }
  }

  @media screen and (max-width: 320px) {
    &__container {
      width: auto;
    }
  }

  &__decor-item {
    position: absolute;
    font-weight: 700;
    background: linear-gradient(to right bottom, $primary-color 50%, $secondary-color);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &__decor-item--curly-braces {
    top: 140px;
    left: -180px;
    font-size: 50px;
    transform: rotate(30deg);
  }

  @media screen and (max-width: 1024px) {
    &__decor-item--curly-braces {
      top: 160px;
      left: 75px;
    }
  }

  @media screen and (min-width: 321px) and (max-width: 900px) {
    &__decor-item--curly-braces {
      font-size: 40px;
    }
  }

  @media screen and (max-width: 320px) {
    &__decor-item--curly-braces {
      left: 50px;
      top: 105px;
      font-size: 22px;
    }
  }

  .curly-braces--active {
    opacity: 0;
    transform: translate(-300px, -300px);
    transition: 1.8s;
  }

  &__decor-item--small-div {
    top: 160px;
    left: 410px;
    font-size: 30px;
    background: linear-gradient($primary-color 50%, $secondary-color);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: rotate(345deg);
  }

  @media screen and (max-width: 1024px) {
    &__decor-item--small-div {
      top: 150px;
      left: 890px;
    }
  }

  @media screen and (min-width: 646px) and (max-width: 980px) {
    &__decor-item--small-div {
      display: none;
    }
  }

  @media screen and (min-width: 371px) and (max-width: 645px) {
    &__decor-item--small-div {
      top: 300px;
      left: 100px;
      font-size: 25px;
    }
  }

  @media screen and (min-width: 321px) and (max-width: 370px) {
    &__decor-item--small-div {
      top: 300px;
      left: 50px;
      font-size: 25px;
    }
  }

  @media screen and (max-width: 320px) {
    &__decor-item--small-div {
      top: 147px;
      left: 245px;
      font-size: 14px;
      transform: rotate(20deg);
    }
  }

  .small-div--active {
    opacity: 0;
    transform: translate(0, -300px);
    transition: 1.8s;
  }

  &__decor-item--num {
    left: -130px;
    top: 360px;
    font-size: 55px;
    transform: rotate(15deg);
  }

  @media screen and (min-width: 901px) and (max-width: 1024px) {
    &__decor-item--num {
      left: 60px;
      top: 635px;
    }
  }

  @media screen and (min-width: 646px) and (max-width: 900px) {
    &__decor-item--num {
      display: none;
    }
  }

  @media screen and (min-width: 321px) and (max-width: 645px) {
    &__decor-item--num {
      left: 50px;
      top: 400px;
      font-size: 40px;
    }
  }

  @media screen and (max-width: 320px) {
    &__decor-item--num {
      left: 37px;
      top: 205px;
      font-size: 28px;
    }
  }

  .num--active {
    opacity: 0;
    transform: translate(-300px, 0);
    transition: 1.8s;
  }

  &__decor-item--big-div {
    top: 533px;
    left: 572px;
    font-size: 39px;
    transform: rotate(20deg);
  }

  @media screen and (min-width: 1024px) and (max-width: 1390px) {
    &__decor-item--big-div {
      top: 600px;
      left: 300px;
    }
  }

  @media screen and (max-width: 1024px) {
    &__decor-item--big-div {
      display: none;
    }
  }

  .big-div--active {
    opacity: 0;
    transform: translate(0, 250px);
    transition: 1.8s;
  }

  &__decor-item--tag-braces {
    top: 665px;
    left: 0px;
    font-size: 40px;
    background: linear-gradient($primary-color 50%, $secondary-color);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: rotate(340deg);
  }

  @media screen and (max-width: 1024px) {
    &__decor-item--tag-braces {
      left: 360px;
      top: 585px;
    }
  }

  @media screen and (min-width: 321px) and (max-width: 940px) {
    &__decor-item--tag-braces {
      display: none;
    }
  }

  @media screen and (max-width: 320px) {
    &__decor-item--tag-braces {
      left: 175px;
      top: 85px;
      font-size: 16px;
      transform: rotate(330deg);
    }
  }

  .tag-braces--active {
    opacity: 0;
    transform: translate(0, 100px);
    transition: 1.8s;
  }

  &__decor-item--tag-braces-mobile {
    display: none;
  }

  @media screen and (max-width: 1024px) {
    &__decor-item--tag-braces-mobile {
      top: 235px;
      left: 423px;
      display: block;
      font-size: 45px;
      background: linear-gradient($primary-color 50%, $secondary-color);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      transform: rotate(15deg);
    }
  }

  @media screen and (min-width: 646px) and (max-width: 900px) {
    &__decor-item--tag-braces-mobile {
      top: 150px;
      left: 300px;
      font-size: 30px;
    }
  }

  @media screen and (min-width: 371px) and (max-width: 645px) {
    &__decor-item--tag-braces-mobile {
      top: 150px;
      left: 200px;
      font-size: 25px;
    }
  }

  @media screen and (min-width: 321px) and (max-width: 370px) {
    &__decor-item--tag-braces-mobile {
      top: 130px;
      left: 150px;
      font-size: 25px;
    }
  }

  @media screen and (max-width: 320px) {
    &__decor-item--tag-braces-mobile {
      display: none;
    }
  }

  &__upper {
    position: relative;
    @include flex(start, baseline, row);
    padding-top: 23px;
    padding-bottom: 45px;
  }

  @media screen and (min-width: 471px) and (max-width: 1024px) {
    &__upper {
      @include flex(space-between, normal, row);
      width: 100vw;
      padding-top: 30px;
      padding-left: 40px;
      padding-right: 40px;
    }
  }

  @media screen and (min-width: 321px) and (max-width: 470px) {
    &__upper {
      @include flex(space-between, center, row);
      width: 100vw;
      padding-top: 30px;
      padding-left: 40px;
      padding-right: 40px;
    }
  }

  @media screen and (max-width: 320px) {
    &__upper {
      align-items: center;
      justify-content: space-between;
      width: auto;
      padding-top: 25px;
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  &__nav {
    display: flex;
    justify-content: start;
  }

  @media screen and (max-width: 1024px) {
    &__nav {
      position: absolute;
      top: 0;
      left: 0;
      display: none;
      flex-direction: column;
      align-items: center;
      width: 100vw;
      height: 100vh;
      font-size: 54px;
      color: #1f1f24;
      z-index: 10000;
      background-color: #fff;
    }

    &__nav--active {
      display: block;
    }
  }

  &__menu {
    display: flex;
  }

  @media screen and (max-width: 1024px) {
    &__menu {
      @include flex(center, center, column);
      padding-top: 100px;
    }
  }

  &__burger-menu-btn {
    position: relative;
    left: 0;
    top: -5px;
    width: 45px;
    height: 45px;
    padding: 0;
    border: none;
    outline: none;
    background-color: #fbfbfb;
    z-index: 15000;
    display: none;
  }

  @media screen and (max-width: 1024px) {
    &__burger-menu-btn {
      display: block;
      background-color: #fbfbfb;
    }
  }

  @media screen and (min-width: 321px) and (max-width: 645px) {
    &__burger-menu-btn {
      display: block;
      width: 35px;
      height: 55px;
      background-color: #fbfbfb;
    }
  }

  @media screen and (max-width: 320px) {
    &__burger-menu-btn {
      top: -6px;
      display: block;
      width: 24px;
      height: 24px;
      margin-top: 6px;
      background-color: #fbfbfb;
    }
  }

  &__burger-menu-btn--active {
    background-color: #fff;
  }

  &__burger-menu-btn-line {
    position: absolute;
    display: block;
    width: 45px;
    height: 6px;
    background: linear-gradient(to right bottom, $primary-color 50%, $secondary-color);
  }

  @media screen and (min-width: 321px) and (max-width: 645px) {
    &__burger-menu-btn-line {
      width: 35px;
      height: 4px;
    }
  }

  @media screen and (max-width: 320px) {
    &__burger-menu-btn-line {
      width: 24px;
      height: 3px;
    }
  }

  &__burger-menu-btn-line::before {
    content: '';
    position: absolute;
    left: 0;
    width: 45px;
    height: 6px;
    background: linear-gradient(to right bottom, $primary-color 50%, $secondary-color);
    transform: translateY(13px);
    transition: .1s;
  }

  @media screen and (min-width: 321px) and (max-width: 645px) {
    &__burger-menu-btn-line::before {
      width: 35px;
      height: 4px;
      transform: translateY(8px);
    }
  }

  @media screen and (max-width: 320px) {
    &__burger-menu-btn-line::before {
      width: 24px;
      height: 3px;
      transform: translateY(8px);
    }
  }

  &__burger-menu-btn-line::after {
    content: '';
    position: absolute;
    left: 0;
    width: 45px;
    height: 6px;
    background: linear-gradient(to right bottom, $primary-color 50%, $secondary-color);
    transform: translateY(-13px);
    transition: .1s;
  }

  @media screen and (min-width: 321px) and (max-width: 645px) {
    &__burger-menu-btn-line::after {
      width: 35px;
      height: 4px;
      transform: translateY(-8px);
    }
  }

  @media screen and (max-width: 320px) {
    &__burger-menu-btn-line::after {
      width: 24px;
      height: 3px;
      transform: translateY(-8px);
    }
  }

  &__burger-menu-btn-line--active {
    height: 0;
  }

  &__burger-menu-btn-line--active::before {
    transform: rotate(45deg);
    transition: .1s;
  }

  &__burger-menu-btn-line--active::after {
    transform: rotate(-45deg);
    transition: .1s;
  }

  &__menu-item {
    height: 20px;
    padding-bottom: 5px;
    margin-right: 27px;
    border-bottom: 1px solid transparent;
    font-size: 17px;
    color: #1f1f24;
    cursor: pointer;
  }

  @media screen and (max-width: 1024px) {
    &__menu-item {
      min-width: 300px;
      padding-bottom: 100px;
      margin-right: 0;
      margin-bottom: 50px;
      border-bottom: 1px solid #8993ad;
      text-align: center;
      font-size: 54px;
    }
  }

  @media screen and (max-width: 320px) {
    &__menu-item {
      min-width: 150px;
      padding-bottom: 50px;
      margin-bottom: 50px;
      font-size: 30px;
    }
  }

  &__menu-item:hover {
    border-bottom: 1px solid #fc557c;
    color: #fc557c;
  }

  &__upper-right-side {
    margin-left: auto;
  }

  @media screen and (max-width: 1024px) {
    &__upper-right-side {
      margin-left: 0;
    }
  }

  @media screen and (min-width: 341px) and (max-width: 900px) {
    &__upper-right-side {
      margin-right: auto;
      margin-left: 40px;
    }
  }

  @media screen and (min-width: 340px) and (max-width: 340px) {
    &__upper-right-side {
      margin: 0 auto;
    }
  }

  &__tel-link {
    display: inline-block;
    margin-right: 25px;
    font-size: 25px;
    font-weight: 700;
    color: #1f1f24;
    text-decoration: none;
  }

  @media screen and (min-width: 471px) and (max-width: 900px) {
    &__tel-link {
      font-size: 20px;
    }
  }

  @media screen and (min-width: 321px) and (max-width: 470px) {
    &__tel-link {
      font-size: 15px;
    }
  }

  @media screen and (max-width: 320px) {
    &__tel-link {
      margin-right: 0;
      font-size: 18px;
    }
  }

  &__submit-btn {
    display: inline-block;
  }

  @media screen and (min-width: 321px) and (max-width: 900px) {
    &__submit-btn {
      display: none;
    }
  }

  @media screen and (max-width: 320px) {
    &__submit-btn {
      display: none;
    }
  }

  &__mobile-call-btn {
    position: relative;
    display: none;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: #fbfbfb;
    background: linear-gradient(to bottom, $primary-color, $secondary-color);
    z-index: 10;
  }

  &__mobile-call-btn::before {
    content: '';
    position: absolute;
    left: 1px;
    top: 1px;
    width: 24px;
    height: 24px;
    background-image: url(../images/mobile-phone-icon.png);
    background-repeat: no-repeat;
    background-color: #fbfbfb;
    background-position: center center;
    border-radius: 50%;
    z-index: 15;
  }

  @media screen and (min-width: 321px) and (max-width: 470px) {
    &__mobile-call-btn {
      display: block;
      margin: 0;
    }
  }

  @media screen and (max-width: 320px) {
    &__mobile-call-btn {
      display: block;
      margin: 0;
    }
  }

  &__phone-icon {
    display: block;
    width: 11px;
    height: 11px;
  }

  &__lower {
    display: flex;
  }

  @media screen and (max-width: 1024px) {
    &__lower {
      display: block;
      padding-left: 40px;
    }
  }

  @media screen and (max-width: 645px) {
    &__lower {
      display: flex;
      flex-direction: column;
      width: auto;
      height: auto;
      padding-left: 0;
      padding-top: 74px; // for width 320
      margin-top: 300px; // for sequence in header besides 320
    }
  }

  @media screen and (max-width: 320px) {
    &__lower {
      margin-top: 0;
    }
  }

  &__lower-left-side {
    padding-top: 172px;
  }

  @media screen and (max-width: 1024px) {
    &__lower-left-side {
      padding-top: 181px;
    }
  }

  @media screen and (min-width: 321px) and (max-width: 900px) {
    &__lower-left-side {
      padding-top: 100px
    }
  }

  @media screen and (max-width: 645px) {
    &__lower-left-side {
      padding-top: 15px;
      @include flex(start, center, column);
      order: 1;
      background-color: #fff;
    }
  }

  &__title {
    margin-bottom: 24px;
    font-size: 80px;
    color: #1f1f24;
    font-weight: 900;
    line-height: 78px;
    z-index: 10;
  }

  @media screen and (max-width: 1250px) {
    &__title {
      margin-bottom: 15px;
      font-size: 54px;
    }
  }

  @media screen and (min-width: 321px) and (max-width: 850px) {
    &__title {
      font-size: 30px;
    }
  }

  @media screen and (max-width: 320px) {
    &__title {
      padding: 0;
      margin: 0;
      margin-bottom: 11px;
      font-size: 30px;
      line-height: 30px;
    }
  }

  &__text {
    margin-bottom: 48px;
    font-size: 25px;
    color: #8993ad;
  }

  @media screen and (min-width: 851px) and (max-width: 960px) {
    &__text {
      font-size: 20px;
    }
  }

  @media screen and (min-width: 551px) and (max-width: 850px) {
    &__text {
      font-size: 17px;
    }
  }

  @media screen and (min-width: 321px) and (max-width: 550px) {
    &__text {
      padding-right: 30px;
      padding-left: 30px;
      text-align: center;
      font-size: 17px;
    }
  }

  @media screen and (max-width: 320px) {
    &__text {
      width: 250px;
      margin-bottom: 22px;
      text-align: center;
      font-size: 16px;
      line-height: 24px;
    }
  }

  &__more-info-btn {
    margin-bottom: 237px;
  }

  @media screen and (max-width: 1024px) {
    &__more-info-btn {
      width: 320px;
      min-height: 68px;
      margin-bottom: 0;
    }
  }

  @media screen and (min-width: 321px) and (max-width: 900px) {
    &__more-info-btn {
      width: 240px;
      min-height: 46px;
      font-size: 15px;
    }
  }

  @media screen and (max-width: 320px) {
    &__more-info-btn {
      width: 280px;
      min-height: 55px;
      font-size: 16px;
    }
  }

  @media screen and (min-width: 1920px) {
    &__lower-right-side {
      position: relative;
    }
  }

  @media screen and (max-width: 645px) {
    &__lower-right-side {
      position: relative;
      width: auto;
      order: 0;
    }
  }

  &__background-img {
    position: absolute;
    right: -170px;
    bottom: 0;
    display: block;
  }

  @media screen and (min-width: 1920px) {
    &__background-img {
      left: 100px;
    }
  }

  @media screen and (min-width: 1025px) and (max-width: 1150px) {
    &__background-img {
      position: absolute;
      right: -230px;
      bottom: 0;
      display: block;
    }
  }

  @media screen and (min-width: 901px) and (max-width: 1024px) {
    &__background-img {
      position: absolute;
      right: 0;
      bottom: 0;
      display: block;
    }
  }

  @media screen and (min-width: 581px) and (max-width: 900px) {
    &__background-img {
      position: absolute;
      right: -260px;
      bottom: 0px;
      display: block;
    }
  }

  @media screen and (min-width: 471px) and (max-width: 580px) {
    &__background-img {
      position: absolute;
      right: -360px;
      bottom: 0;
      display: block;
    }
  }

  @media screen and (max-width: 320px) {
    &__background-img {
      position: static;
    }
  }

  &__person-img {
    position: absolute;
    right: 135px;
    bottom: 0;
    display: block;
    width: 435px;
    height: 638px; // 638
    margin-left: 92px;
  }

  @media screen and (min-width: 1920px) {
    &__person-img {
      left: 100px;
    }
  }

  @media screen and (min-width: 1024px) and (max-width: 1150px) {
    &__person-img {
      right: 90px;
    }
  }

  @media screen and (max-width: 1024px) {
    &__person-img {
      right: 40px;
    }
  }

  @media screen and (min-width: 581px) and (max-width: 900px) {
    &__person-img {
      right: 40px;
      width: 224px;
      height: 334px;
    }
  }

  @media screen and (min-width: 321px) and (max-width: 580px) {
    &__person-img {
      right: 10px;
      width: 224px;
      height: 334px;
    }
  }

  @media screen and (max-width: 320px) {
    &__person-img {
      position: absolute;
      right: 19px;
      width: 224px;
      height: 334px;
    }
  }
}

.services {
  padding-top: 95px;

  @media screen and (max-width: 1024px) {
    & {
      padding-top: 90px;
    }
  }

  @media screen and (max-width: 320px) {
    & {
      padding-top: 45px;
    }
  }

  @media screen and (min-width: 1024px) and (max-width: 1250px) {
    &__container {
      padding-left: 40px;
      padding-right: 40px;
    }
  }

  &__title {
    margin-bottom: 93px;
    text-align: center;
    font-size: 54px;
    font-weight: 700;
  }

  @media screen and (min-width: 321px) and (max-width: 645px) {
    &__title {
      margin-bottom: 43px;
      font-size: 30px;
    }
  }

  @media screen and (max-width: 320px) {
    &__title {
      margin-bottom: 43px;
      font-size: 30px;
    }
  }

  &__features-flex-container {
    display: flex;
    justify-content: space-between;
  }

  @media screen and (min-width: 1024px) and (max-width: 1024px) {
    &__features-flex-container {
      flex-wrap: wrap;
      padding-left: 140px;
      padding-right: 140px;
    }
  }

  @media screen and (min-width: 321px) and (max-width: 1023px) {
    &__features-flex-container {
      justify-content: center;
      flex-wrap: wrap;
      padding-left: 100px;
      padding-right: 100px;
      margin: 0;
    }
  }

  @media screen and (max-width: 320px) {
    &__features-flex-container {
      flex-wrap: wrap;
      padding-left: 0;
      padding-right: 0;
      margin: 0;
    }
  }

  &__feature {
    @include flex(center, normal, column);
  }

  @media screen and (min-width: 321px) and (max-width: 759px) {
    &__feature:not(:last-child) {
      margin-bottom: 25px;
    }
  }

  @media screen and (max-width: 320px) {
    &__feature {
      width: 100vw;
      align-items: center;
    }
  }

  &__feature:not(:last-child) {
    margin-right: 42px;
  }

  @media screen and (min-width: 760px) and (max-width: 1024px) {
    &__feature:not(:last-child) {
      margin-right: 0;
    }

    &__feature:nth-child(3) {
      margin-top: 81px;
    }

    &__feature:last-child {
      margin-top: 81px;
    }
  }

  @media screen and (max-width: 759px) {
    &__feature:not(:last-child) {
      margin-right: 0;
    }

    &__feature:nth-child(3) {
      margin-top: 0;
    }

    &__feature:last-child {
      margin-top: 0;
    }
  }

  @media screen and (max-width: 320px) {
    &__feature:nth-child(3) {
      margin-top: 5px;
    }

    &__feature:last-child {
      margin-top: 3px;
    }
  }

  &__img {
    display: flex;
    align-self: center;
    margin-bottom: 14px;
    object-fit: contain;
  }

  @media screen and (max-width: 645px) {
    &__img {
      margin-bottom: 12px;
    }
  }

  &__img--monitor:before {
    content: url(../images/monitor-compressed.png);
    background-repeat: no-repeat;
  }

  @media screen and (max-width: 320px) {
    &__img--monitor:before {
      content: '';
      width: 63px;
      height: 58px;
      background-image: url(../images/monitor-compressed.png);
      background-position: center center;
      background-size: contain;
    }
  }

  &__img--screens:before {
    content: url(../images/screens-compressed.png);
    background-repeat: no-repeat;
  }

  @media screen and (max-width: 320px) {
    &__img--screens {
      margin-bottom: 20px;
    }

    &__img--screens:before {
      content: '';
      width: 63px;
      height: 58px;
      background-image: url(../images/screens-compressed.png);
      background-position: center center;
      background-size: contain;
    }
  }

  &__img--programming:before {
    content: url(../images/programming-compressed.png);
    background-repeat: no-repeat;

  }

  @media screen and (max-width: 320px) {
    &__img--programming:before {
      content: '';
      width: 63px;
      height: 58px;
      background-image: url(../images/programming-compressed.png);
      background-position: center center;
      background-size: contain;
    }
  }

  &__img--development:before {
    content: url(../images/development-compressed.png);
    background-repeat: no-repeat;

  }

  @media screen and (max-width: 320px) {
    &__img--development {
      margin-bottom: 17px;
    }

    &__img--development:before {
      content: '';
      width: 63px;
      height: 58px;
      background-image: url(../images/development-compressed.png);
      background-position: center center;
      background-size: contain;
    }
  }

  &__feature-title {
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    color: #8993ad;
    line-height: 30px;
  }

  @media screen and (max-width: 1024px) {
    &__feature-title {
      width: 280px;
    }
  }

  @media screen and (max-width: 645px) {
    &__feature-title {
      width: 215px;
      margin-bottom: 47px;
      font-size: 16px;
      line-height: 24px;
    }

    &__feature-title:nth-child(2) {
      width: 250px;
    }
  }

  &__price-info-btn {
    margin: 91px auto 102px;
  }

  @media screen and (min-width: 646px) and (max-width: 1024px) {
    &__price-info-btn {
      width: 320px;
      min-height: 68px;
    }
  }

  @media screen and (min-width: 321px) and (max-width: 645px) {
    &__price-info-btn {
      width: 240px;
      min-height: 46px;
      margin: 0 auto 70px;
      font-size: 15px;
    }
  }

  @media screen and (max-width: 320px) {
    &__price-info-btn {
      width: 280px;
      min-height: 55px;
      margin: 0 auto;
    }
  }
}

.portfolio {
  padding-top: 95px;
  padding-bottom: 102px;
  background-color: #fbfbfb;

  @media screen and (max-width: 320px) {
    & {
      padding-bottom: 50px;
    }
  }

  &__container {
    height: auto;
  }

  @media screen and (min-width: 1024px) and (max-width: 1280px) {
    &__container {
      text-align: center;
      padding-right: 40px;
      padding-left: 40px;
    }
  }

  @media screen and (max-width: 1024px) {
    &__container {
      padding-right: 40px;
      padding-left: 40px;
    }
  }

  @media screen and (max-width: 320px) {
    &__container {
      padding-right: 19px;
      padding-left: 19px;
    }
  }

  &__title {
    text-align: center;
    margin-bottom: 105px;
    font-size: 54px;
    font-weight: 700;
    color: #262626;
  }

  @media screen and (max-width: 645px) {
    &__title {
      margin-bottom: 43px;
      font-size: 30px;
      line-height: 30px;
    }
  }

  .swiper-container {
    text-align: center;
  }

  @media screen and (max-width: 320px) {
    .swiper-container {
      padding-bottom: 42px;
    }
  }

  .swiper-img {
    width: 370px;
    height: 290px;
    margin-bottom: 36px;
  }

  @media screen and (min-width: 1025px) and (max-width: 1280px) {
    .swiper-img {
      width: 456px;
      height: 360px;
    }
  }

  @media screen and (max-width: 1024px) {
    .swiper-img {
      width: 456px;
      height: 360px;
      margin-bottom: 23px;
    }
  }

  @media screen and (max-width: 645px) {
    .swiper-img {
      width: 282px;
      height: 251px;
    }
  }

  .swiper-text {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    color: #8993ad;
  }

  @media screen and (max-width: 1024px) {
    .swiper-text {
      margin-bottom: 100px;
      font-size: 25px;
    }
  }

  @media screen and (max-width: 645px) {
    .swiper-text {
      margin-bottom: 50px;
      font-size: 18px;
    }
  }

  @media screen and (max-width: 320px) {
    .swiper-text {
      margin-bottom: 0;
    }
  }

  .swiper-container {
    margin: 0 auto;
  }

  .slider-buttons {
    position: relative;
  }

  .swiper-button {
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0, 0, 0, .08);
    z-index: 10000;
  }

  @media screen and (max-width: 1280px) {
    .swiper-button {
      display: none;
    }
  }

  .swiper-button-prev {
    position: absolute;
    left: -30px;
    top: 140px;
    width: 60px;
    height: 60px;
    z-index: 1000;
  }

  .swiper-button-prev::before {
    content: url(../images/arrow-compressed.png);
  }

  .swiper-button-prev::after {
    display: none;
  }

  .swiper-button-next {
    position: absolute;
    top: 140px;
    right: -30px;
    width: 60px;
    height: 60px;
    z-index: 1000;
    transform: rotate(180deg);
  }

  .swiper-button-next::before {
    content: url(../images/arrow-compressed.png);
  }

  .swiper-button-next::after {
    display: none;
  }

  .swiper-button-prev-img {
    display: block;
  }

  .swiper-bullets-container {
    display: flex;
    justify-content: center;
  }

  .swiper-pagination {
    display: none;
  }

  @media screen and (max-width: 1024px) {
    .swiper-pagination {
      display: block;
    }
  }

  @media screen and (max-width: 320px) {
    .swiper-pagination {
      margin-top: 0;
    }
  }

  .swiper-pagination-bullet {
    width: 18px;
    height: 18px;
  }

  @media screen and (max-width: 550px) {
    .swiper-pagination-bullet {
      width: 10px;
      height: 10px;
    }
  }

  .swiper-pagination-bullet:not(:last-child) {
    margin-right: 30px;
  }

  @media screen and (max-width: 320px) {
    .swiper-pagination-bullet:not(:last-child) {
      margin-right: 15px;
    }
  }

  .swiper-pagination-bullet-active {
    background-color: #ff4e2e;
  }

  &__order-btn {
    margin: 0 auto;
    margin-top: 95px;
  }

  @media screen and (min-width: 646px) and (max-width: 1024px) {
    &__order-btn {
      width: 320px;
      min-height: 68px;
      margin-top: 120px;
    }
  }

  @media screen and (min-width: 321px) and (max-width: 645px) {
    &__order-btn {
      width: 240px;
      min-height: 46px;
      margin-top: 120px;
    }
  }

  @media screen and (max-width: 320px) {
    &__order-btn {
      width: 280px;
      min-height: 50px;
      margin: 0 auto;
      margin-top: 58px;
    }
  }
}

.offer {
  position: relative;
  padding-top: 74px;
  padding-bottom: 80px;
  background: linear-gradient(225deg, $primary-color, $secondary-color);

  @media screen and (max-width: 320px) {
    & {
      padding-top: 40px;
      padding-bottom: 41px;
    }
  }

  &__container {
    position: relative;
    padding-left: 115px;
  }

  @media screen and (min-width: 1024px) and (max-width: 1150px) {
    &__container {
      padding-left: 40px;
      padding-right: 40px;
    }
  }

  @media screen and (max-width: 1024px) {
    &__container {
      padding-left: 40px;
      padding-right: 40px;
    }
  }

  @media screen and (max-width: 320px) {
    &__container {
      padding-left: 19px;
      padding-right: 0;
    }
  }

  &__title {
    max-width: 950px;
    margin-bottom: 30px;
    font-size: 45px;
    font-weight: 700;
    color: #fff;
    line-height: 60px;
  }

  @media screen and (max-width: 645px) {
    &__title {
      font-size: 30px;
      line-height: 40px;
    }
  }

  @media screen and (max-width: 320px) {
    &__title {
      max-width: none;
      margin-bottom: 35px;
      font-size: 28px;
    }
  }

  &__text {
    max-width: 760px;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    line-height: 30px;
    letter-spacing: .1px;
  }

  @media screen and (max-width: 320px) {
    &__text {
      font-size: 17px;
    }
  }

  @media screen and (max-width: 320px) {
    &__text {
      max-width: none;
      line-height: 30px;
      font-size: 15px;
    }
  }

  &__decor-item {
    position: absolute;
    color: #fff;
    font-weight: 700;
    transition: transform 1s ease;
  }

  @media screen and (max-width: 945px) {
    &__decor-item {
      display: none;
    }
  }

  &__decor-item--curly-braces-left {
    top: 0;
    left: -200px;
    font-size: 43px;
    transform: rotate(30deg);
  }

  @media screen and (max-width: 1024px) {
    &__decor-item--curly-braces-left {
      top: -50px;
      left: 158px;
      font-size: 29px;
    }
  }

  &__decor-item--num {
    bottom: -25px;
    left: -130px;
    font-size: 55px;
    transform: rotate(20deg);
  }

  @media screen and (max-width: 1024px) {
    &__decor-item--num {
      display: none;
    }
  }

  &__decor-item--tag-braces {
    top: 5px;
    right: -165px;
    font-size: 38px;
    transform: rotate(340deg);
  }

  @media screen and (max-width: 1024px) {
    &__decor-item--tag-braces {
      top: 215px;
      right: 95px;
    }
  }

  &__decor-item--div {
    right: 35px;
    bottom: -57px;
    font-size: 36px;
    transform: rotate(20deg);
  }

  @media screen and (max-width: 1024px) {
    &__decor-item--div {
      right: 457px;
      bottom: -45px;
      font-size: 23px;
    }
  }

  &__decor-item--curly-braces-right {
    right: -150px;
    bottom: 0;
    font-size: 48px;
    transform: rotate(330deg);
  }

  @media screen and (max-width: 1024px) {
    &__decor-item--curly-braces-right {
      display: none;
    }
  }

  &__decor-item--active {
    transform: scale(1.1) rotate(10deg);
    transition: transform 1s ease;
  }
}

.footer {

  @media screen and (min-width: 1024px) and (max-width: 1230px) {
    &__container {
      padding-left: 40px;
      padding-right: 40px;
    }
  }

  @media screen and (min-width: 321px) and (max-width: 1023px) {
    &__container {
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  &__upper {
    @include flex(space-between, center, row);
    flex-wrap: wrap;
    padding-top: 72px;
    padding-bottom: 77px;
  }

  @media screen and (max-width: 1024px) {
    &__upper {
      padding: 95px 0 80px 0;
    }
  }

  @media screen and (max-width: 320px) {
    &__upper {
      padding: 50px 20px 46px 20px;
      flex-wrap: wrap;
    }
  }

  @media screen and (min-width: 321px) and (max-width: 815px) {
    &__upper-item:not(:last-child) {
      margin-bottom: 40px;
      padding-right: 20px;
    }
  }

  @media screen and (max-width: 320px) {
    &__nav {
      margin-bottom: 46px;
    }
  }

  &__menu-item {
    font-size: 18px;
    font-weight: 400;
    color: #8993ad;
    cursor: pointer;
  }

  @media screen and (max-width: 320px) {
    &__menu-item {
      font-size: 15px;
    }
  }

  &__menu-item:not(:last-child) {
    margin-bottom: 15px;
  }

  @media screen and (max-width: 320px) {
    &__menu-item {
      font-size: 16px;
    }
  }

  &__menu-item:hover {
    color: #fc557c;
  }

  &__menu-item:active {
    color: #000;
  }

  &__contacts {
    padding-left: 75px;
  }

  @media screen and (max-width: 483px) {
    &__contacts {
      padding-left: 0;
      margin-bottom: 22px;
    }
  }

  &__phone-icon {
    width: 18px;
    height: 18px;
    background: linear-gradient(180deg, $primary-color, $secondary-color);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &__envelope-icon {
    width: 23px;
    height: 15px;
    background: linear-gradient(180deg, $primary-color, $secondary-color);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &__tel-item {
    margin-bottom: 30px;
  }

  @media screen and (max-width: 570px) {
    &__tel-item {
      margin-bottom: 23px;
    }
  }

  &__tel-link {
    padding-left: 15px;
    font-size: 25px;
    font-weight: 400;
    color: #000;

  }

  @media screen and (max-width: 570px) {
    &__tel-link {
      padding-left: 10px;
      margin-bottom: 26px;
      font-size: 20px;
      font-weight: 500;
      color: #8993ad;
    }
  }

  &__email-link {
    padding-left: 10px;
    font-size: 25px;
    font-weight: 400;
    color: #000;
  }

  @media screen and (max-width: 570px) {
    &__email-link {
      font-size: 20px;
      font-weight: 500;
      color: #8993ad;
    }
  }

  &__socials {
    display: flex;
    flex-direction: column;
  }

  &__submit-btn {
    width: 248px;
    margin: 5px 20px 31px 0;
  }

  @media screen and (max-width: 1024px) {
    &__submit-btn {
      margin-right: 0;
    }
  }

  @media screen and (max-width: 320px) {
    &__submit-btn {
      width: 280px;
      min-height: 55px;
      margin-bottom: 51px;
      border-color: #ff4e2e;
      color: #fff;
      background-color: #ff4e2e;
    }

    &__submit-btn:hover {
      color: #fff;
      background-color: #ff4e2e;
    }

    &__submit-btn:active {
      color: #ff4e2e;
      background-color: #fff;
    }
  }

  &__socials-items-container {
    display: flex;
    align-items: baseline;
  }

  &__socials-item {
    display: inline-block;
    background-image: url(../images/social-spritesheet-compressed.png);
    background-repeat: no-repeat;
  }

  &__socials-item:not(:last-child) {
    margin-right: 28px;
  }

  &__socials-item:hover {
    opacity: .7;
  }

  &__socials-item--vk {
    width: 35px;
    height: 21px;
    background-position: -210px -20px;
  }

  &__socials-item--fb {
    width: 16px;
    height: 28px;
    background-position: -20px -20px;
  }

  &__socials-item--tw {
    width: 29px;
    height: 25px;
    background-position: -141px -20px;
  }

  &__socials-item--inst {
    width: 25px;
    height: 25px;
    background-position: -76px -20px;
  }

  &__lower {
    padding-top: 32px;
    padding-bottom: 33px;
    background-color: #31293c;
  }

  @media screen and (max-width: 320px) {
    &__lower {
      padding-top: 20px;
      padding-bottom: 18px;
    }
  }

  &__copyright {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
  }

  @media screen and (max-width: 320px) {
    &__copyright {
      font-size: 12px;
    }
  }
}