html {
  box-sizing: border-box;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

body {
  overflow-x: hidden;
  font-family: $font;
  background-color: #fff;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}
