.modal-window {
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(137, 147, 173, 0.5);
  z-index: 20000;

  &--active {
    display: flex;
  }

  &__form {
    position: relative;
    @include flex(space-around, normal, column);
    width: 370px;
    min-height: 370px;
    padding: 30px;
    border: 2px solid #ff4e2e;
    border-radius: 2%;
    text-align: center;
    line-height: 30px;
    background-color: #fff;
    z-index: 5000;

    @media screen and (max-width: 450px) {
      width: auto;
      padding: 10px;
    }
  }

  &__form--active {
    display: block;
  }

  &__close-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    @include flex(center, center, row);
    width: 35px;
    height: 35px;
    padding: 9px;
    border: 1px solid #8993ad;
    border-radius: 50%;
    outline: none;
    background-color: #fff;
    opacity: 0.5;

    &:hover {
      background-color: #ebebeb;
    }
  }

  &__text {
    text-align: center;
    margin-bottom: 10px;
  }

  &__input {
    display: block;
    margin: 0 auto;
    width: 271px;
    height: 40px;
    padding: 5px;
    border: none;
    outline: none;
    font-family: inherit;
    background-color: #ebebeb;
  }

  &__submit-btn {
    height: 40px;
    border: none;
    margin: 0 auto;
    font-family: inherit;
  }

  &__warning {
    line-height: 16px;
    opacity: 0;
    color: #ff0000;
  }

  &__warning--active {
    opacity: 1;
  }

  &__form-success {
    position: relative;
    display: none;
    width: 370px;
    min-height: 200px;
    padding: 60px;
    margin: 200px auto;
    border: 2px solid $secondary-color;
    border-radius: 2%;
    background-color: #fff;
    z-index: 6000;

    @media screen and (max-width: 450px) {
      width: auto;
      margin: 100px auto;
    }
  }

  &__form-success--active {
    display: block;
  }

  &__form-success-text {
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    color: #8993ad;
  }
}
