{
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-recess-order",
    "stylelint-scss"
  ],
  "rules": {
    "declaration-colon-newline-after": null,
    "length-zero-no-unit": null,
    "number-leading-zero": null,
    "at-rule-no-unknown": null,
    "at-rule-empty-line-before": [
      "always",
      {
        "ignoreAtRules": [
          "extend",
          "include",
          "import",
          "media"
        ]
      }
    ],
    "no-duplicate-selectors": null
  }
}