.button-primary {
  @include flex(center, center, row);

  width: 271px;
  min-height: 61px;
  padding: 20px;
  font-family: inherit;
  font-size: 18px;
  color: #fff;
  background-color: #ff4e2e;
  border: none;

  &:hover {
    color: #ff4e2e;
    background-color: #fff;
    outline: 1px solid #ff4e2e;
    transition: 0.1s;
  }

  &:active {
    color: #fff;
    background-color: #ff4e2e;
  }
}
