.modal-window {
  position: fixed;
  z-index: 20000;
  display: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(137, 147, 173, 0.5);

  &--active {
    display: flex;
  }

  &__form {
    position: relative;
    @include flex(space-around, normal, column);

    z-index: 5000;
    width: 370px;
    min-height: 370px;
    padding: 30px;
    line-height: 30px;
    text-align: center;
    background-color: #fff;
    border: 2px solid #ff4e2e;
    border-radius: 2%;

    @media screen and (max-width: 450px) {
      width: auto;
      padding: 10px;
    }
  }

  &__form--active {
    display: block;
  }

  &__close-btn {
    @include flex(center, center, row);

    position: absolute;
    top: 5px;
    right: 5px;
    width: 35px;
    height: 35px;
    padding: 9px;
    background-color: #fff;
    border: 1px solid #8993ad;
    border-radius: 50%;
    outline: none;
    opacity: 0.5;

    &:hover {
      background-color: #ebebeb;
    }
  }

  &__text {
    margin-bottom: 10px;
    text-align: center;
  }

  &__input {
    display: block;
    width: 271px;
    height: 40px;
    padding: 5px;
    margin: 0 auto;
    font-family: inherit;
    background-color: #ebebeb;
    border: none;
    outline: none;
  }

  &__submit-btn {
    height: 40px;
    margin: 0 auto;
    font-family: inherit;
    border: none;
  }

  &__warning {
    line-height: 16px;
    color: #f00;
    opacity: 0;
  }

  &__warning--active {
    opacity: 1;
  }

  &__form-success {
    position: relative;
    z-index: 6000;
    display: none;
    width: 370px;
    min-height: 200px;
    padding: 60px;
    margin: 200px auto;
    background-color: #fff;
    border: 2px solid $secondary-color;
    border-radius: 2%;

    @media screen and (max-width: 450px) {
      width: auto;
      margin: 100px auto;
    }
  }

  &__form-success--active {
    display: block;
  }

  &__form-success-text {
    font-size: 30px;
    font-weight: 500;
    color: #8993ad;
    text-align: center;
  }
}
