@mixin flex($jcc: start, $ai: normal, $fld: row) {
  display: flex;
  justify-content: $jcc;
  align-items: $ai;
  flex-direction: $fld;
}

@mixin pl-pr($val) {
  padding: {
    left: $val;
    right: $val;
  }
}

@mixin bg-clip-text {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
