@mixin flex($jcc: start, $ai: normal, $fld: row) {
  display: flex;
  flex-direction: $fld;
  align-items: $ai;
  justify-content: $jcc;
}

@mixin pl-pr($val) {
  padding: {
    right: $val;
    left: $val;
  }
}

@mixin initial-elem-state($rot) {
  opacity: 1;
  transform: translate(0, 0);
  transform: rotate($rot);
}

@mixin bg-clip-text {
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
